.tea-col0 {
  max-width: 0;
  padding: 0px;
}

.tea-col1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0px 15px;
}

.tea-col2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0px 15px;
}

.tea-col3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0px 15px;
}

.tea-col4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0px 15px;
}

.tea-col5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0px 15px;
}

.tea-col6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0px 15px;
}

.tea-col7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0px 15px;
}

.tea-col8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0px 15px;
}

.tea-col9 {
  flex: 0 0 75%;
  max-width: 75%;
  padding: 0px 15px;
}

.tea-col10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0px 15px;
}

.tea-col11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0px 15px;
}

.tea-col12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0px 15px;
}

@media (min-width: 576px) {
  .tea-col0-sm {
    max-width: 0;
    padding: 0px;
  }

  .tea-container {
    max-width: 540px;
  }

  .tea-col1-sm {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0px 15px;
  }

  .tea-col2-sm {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0px 15px;
  }

  .tea-col3-sm {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 15px;
  }

  .tea-col4-sm {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0px 15px;
  }

  .tea-col5-sm {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0px 15px;
  }

  .tea-col6-sm {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
  }

  .tea-col7-sm {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0px 15px;
  }

  .tea-col8-sm {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0px 15px;
  }

  .tea-col9-sm {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px 15px;
  }

  .tea-col10-sm {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0px 15px;
  }

  .tea-col11-sm {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0px 15px;
  }

  .tea-col12-sm {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 15px;
  }
}
@media (min-width: 768px) {
  .tea-col0-md {
    max-width: 0;
    padding: 0px;
  }

  .tea-container {
    max-width: 720px;
  }

  .tea-col1-md {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0px 15px;
  }

  .tea-col2-md {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0px 15px;
  }

  .tea-col3-md {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 15px;
  }

  .tea-col4-md {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0px 15px;
  }

  .tea-col5-md {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0px 15px;
  }

  .tea-col6-md {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
  }

  .tea-col7-md {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0px 15px;
  }

  .tea-col8-md {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0px 15px;
  }

  .tea-col9-md {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px 15px;
  }

  .tea-col10-md {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0px 15px;
  }

  .tea-col11-md {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0px 15px;
  }

  .tea-col12-md {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 15px;
  }
}
@media (min-width: 992px) {
  .tea-col0-lg {
    max-width: 0;
    padding: 0px;
  }

  .tea-container {
    max-width: 960px;
  }

  .tea-col1-lg {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0px 15px;
  }

  .tea-col2-lg {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0px 15px;
  }

  .tea-col3-lg {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 15px;
  }

  .tea-col4-lg {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0px 15px;
  }

  .tea-col5-lg {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0px 15px;
  }

  .tea-col6-lg {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
  }

  .tea-col7-lg {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0px 15px;
  }

  .tea-col8-lg {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0px 15px;
  }

  .tea-col9-lg {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px 15px;
  }

  .tea-col10-lg {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0px 15px;
  }

  .tea-col11-lg {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0px 15px;
  }

  .tea-col12-lg {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 15px;
  }
}
@media (min-width: 1200px) {
  .tea-col0-xl {
    max-width: 0;
    padding: 0px;
  }

  .tea-container {
    max-width: 1140px;
  }

  .tea-col1-xl {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0px 15px;
  }

  .tea-col2-xl {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0px 15px;
  }

  .tea-col3-xl {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0px 15px;
  }

  .tea-col4-xl {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0px 15px;
  }

  .tea-col5-xl {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0px 15px;
  }

  .tea-col6-xl {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
  }

  .tea-col7-xl {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0px 15px;
  }

  .tea-col8-xl {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0px 15px;
  }

  .tea-col9-xl {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0px 15px;
  }

  .tea-col10-xl {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0px 15px;
  }

  .tea-col11-xl {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0px 15px;
  }

  .tea-col12-xl {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 15px;
  }
}
.tea-row {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.tea-col {
  flex: 1 0 auto;
  padding: 0px 15px;
}

.tea-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.tea-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.tea-no-gutters > [class*=tea-col] {
  padding-left: 0px;
  padding-right: 0px;
}

/*# sourceMappingURL=tea.css.map */
