/*
* TeaGrid V0.6 by Alex Tsirozidis
* Nearly identical to Bootstrap Grid but at a fraction of the size.
* See https://github.com/Firebrand/teagrid for more
* 02/15/2020
*/

$numColumns: 12;
$gutter-width: 30px;
$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$grid-container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$gutter-width-adj: $gutter-width/2;
@mixin col-defaults {-ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%;}
.tea-col0{ max-width: 0; padding: 0px;}
@for $i from 1 through $numColumns {
  $width: 100%/$numColumns*$i;
  .tea-col#{$i}{ flex: 0 0 $width; max-width: $width; padding: 0px ($gutter-width-adj);}
}

[class*=tea-col] {
  position: relative;
  width: 100%;
  padding-right: $gutter-width-adj;
  padding-left: $gutter-width-adj;
}

@each $key, $val in $grid-breakpoints {
  @media (min-width: #{$val}) {
    .tea-col0-#{$key}{ max-width: 0; padding: 0px;}
    .tea-col-#{$key}{ @include col-defaults; }
    .tea-container{ max-width: map-get($grid-container-max-widths, $key) }
    @for $i from 1 through $numColumns {
      $width: 100%/$numColumns*$i;
      .tea-col#{$i}-#{$key}{ flex: 0 0 $width; max-width: $width; padding: 0px ($gutter-width-adj);}
    }
  }
}

.tea-row{
  display: flex;
  margin: 0px (-$gutter-width-adj);
  flex-wrap: wrap;
}

.tea-col{
  @include col-defaults;
}

.tea-container {
  width: 100%;
  padding-left: ($gutter-width-adj);
  padding-right: ($gutter-width-adj);
  margin-right: auto;
  margin-left: auto;
}

.tea-no-gutters {
    margin-right: 0;
    margin-left: 0;
  >[class*=tea-col] {
    padding-left: 0px;
    padding-right: 0px;
  }
}